@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p>
    This “Book My Medicine” is an online medicine search web application. This application allows a visitor to search for a medicine and addresses of medical stores (wholesale and retail sales) where the medicine is available. This application is a solution. So, this web application is planned to develop based on the requirements of the client.
    The client is a small scale pharmaceutical company that is distributing generic medicines to emergency medicines and having a good network of medical (retail) stores. Main need of the client is to prepare an online application to help the needy people in finding the availability of the medicine and a list of medical stores where the medicine is available. The visitor can quickly find the nearest medical store by selecting the area in the search tools.
</p>
