
@{
    ViewBag.Title = "AddUser";
}

<h2>AddUser</h2>

<form method="post" action="Home/AddUser">
    <label>Username</label>
    <br />
    <input type="text" />
    <br />
    <label>Email</label>
    <br />
    <input type="email" />
    <br />
    <label>Phone No.</label>
    <br />
    <input type="text" />
    <br />
    <input type="submit" value="Add" class="btn btn-success" />
</form>

