@{
    ViewBag.Title = "Home Page";
}

<h2>INDEX</h2>


<h1>All Public Pages Here</h1>

@*@using (Html.BeginForm("AddUser", "Admin", "POST"))
{
    <label>Username</label>
    <br />
    <input type="text" name="UserName" />
    <br />
    <label>Email</label>
    <br />
    <input type="email" name="Email" />
    <br />
    <label>Phone No.</label>
    <br />
    <input type="text" name="PhoneNumber" />
    <br />
    <label>Password</label>
    <br />
    <input type="password" name="Password" />
    <br />
    <input type="submit" value="Add" class="btn btn-success" />
}*@

@*<form method="post" action="/Admin/AddUser">
    <label>Username</label>
    <br />
    <input type="text" name="UserName" />
    <br />
    <label>Email</label>
    <br />
    <input type="email" name="Email" />
    <br />
    <label>Phone No.</label>
    <br />
    <input type="text" name="PhoneNumber" />
    <br />
    <label>Password</label>
    <br />
    <input type="password" name="Password" />
    <br />
    <input type="submit" value="Add" class="btn btn-success" />
</form>*@