@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>
    <h4>Priyanshu Bajpai</h4>
    <br />
    <h4>Sunil</h4>
    <br />
    <h4>Santosi</h4>
    <br />
    <h4>Shubham</h4>
</p>

<address>
    NIT Allahabad,Prayagraj,211004
</address>