@{
    ViewBag.Title = "Home Page";
}

<style>

    .img-responsive {
        padding:50px;
        width:500px;
        height:500px;
    }

    .search{
        padding-top:200px;
        padding-right:250px;
    }

    .AllStore {
        position: absolute;
        top: 313px;
        padding-right:10px;
        right:170px;
    }

    .heading{
        font-family:cursive;
    }
</style>

<center>
    <h2 class="heading">Search & Book Pharmaceutical</h2>
</center>

<img src="~/Content/Images/index_mainpic.jpg" alt="Photo of few Medicines" class="img-responsive" align="left"/>


<div class="search">
    <form action="#" class="form-inline" align="center">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>


</div>

<br />
<input type="button" value="All Registered Stores" class="btn btn-info AllStore" />
    
